$backgroundColor: #DFCFBE;
$textColor: black;
$fontSize: 24px;
$border: black;

body {
    .navigation {
        margin-bottom: 10px;

        background-color: $backgroundColor;
        nav {
            font-size: 18px;
            padding: 10px;
            a {
                text-decoration:  none;
                font-weight: bold;
                padding: 10px;
                color: $textColor;
            }
        }
    }
    table {
        width: 100%;
        td, th {
            border: 1px outset $border;
            padding: 5px;
        }
    } 

    .advertiseForm {
        border: 1px outset $border;
        label {
            width: 100%;
            text-align: center;
            font-size: 24px;
        }
        form {
            padding: 10px;
            width: 100%;
            input, select, button {
                width: 100%;
                padding: 10px;
                margin-bottom: 5px;
            }
            button {
                background-color: $backgroundColor;
                border: none;
                font-size: 18px; font-weight: bold;;
            }
        }
    }

    .footer {
        height: 200px;
        background-color: $backgroundColor;
        margin-top: 10px;
    }
}