$backgroundColor: #DFCFBE;
$textColor: black;
$fontSize: 24px;
$border: black;
$logoGreen: #AAC551;
$logoPink: #CE2DA7;

@mixin form-style {
    input, select, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
    }
    button {
        background-color: $logoGreen;
        color: white;
        border: none;
        font-size: 18px; font-weight: bold;;
    }
}

body {
    .displayNone {
        display: none;
    }
    .navigation {
        margin-bottom: 10px;
        // background-color: $backgroundColor;
        border-bottom: 5px solid $backgroundColor;

        nav {
            font-size: 18px;
            a#logo {
                // background-color: black;
                color: $backgroundColor;
                font-size: 24px;
                padding: 0px;
                span.greenColor {
                    color: $logoGreen;
                }
                span.pinkColor {
                    color: $logoPink;
                }
            }
            a {
                text-decoration:  none;
                font-weight: bold;
                padding: 10px;
                color: $textColor;
                text-decoration: underline;
            }
        }
    }
    .cleanerTableAdmin {
        width: 100%;
        tr {
            border: 1px outset $border;
        }
        td, th {
            padding: 5px;
        }
        span {
            cursor: pointer;
        }
    } 

    .advertisementForm {
        border: 1px outset $border;
        label {
            width: 100%;
            text-align: center;
            font-size: 24px;
        }
        form {
            padding: 5px;
            width: 100%;
        }
        @include form-style;
    }
    
    .editForm {
        @include form-style;
    }

    .aboutus {
        margin-top: 10px;
        .heading {
            font-size: 24px;
            text-align: center;
        }
    }

    .getCleanersAndPrices {
        form {
            @include form-style;
        }
    }

    .footer {
        height: 200px;
        background-color: $backgroundColor;
        margin-top: 10px;
    }

    // UI
    .slider {
        #sliderImage {
            background-image: url('../images/banner-inner01.jpg');
            width: 100%;
            margin-bottom: 10px;
            font-size: 30px;
            text-align: left;
            text-shadow: 2px 2px 5px black;
            color: white;
            padding: 20px;
            font-family: "Helvetica";
        }
    }
    .search {
        label {
            width: 100%;
            font-size: 24px;
        }
        #searchForm {
            border: 1px outset $border;
            padding: 5px;
            width: 100%;
            @include form-style();
        }
    }
    .modal {
        @include form-style();
    }
    .cleanerTableUser {
        width: 100%;
        // box-shadow: 0px 0px 3px black;
        border: 1px outset $border;
        tr {
            border: 1px outset $border;
        }
        th {
            background-color: $logoGreen;
            color: white;
        }
        td, th {
            // border: 1px outset $border;
            padding: 5px;
            vertical-align: top;
        }
        span {
            cursor: pointer;
        }
        span.totalPrice {
            font-size: 25px;
            font-weight: bold;
        }
    } 
}