body .navigation {
    margin-bottom: 10px;
    background-color: #DFCFBE;
    padding: 10px;
}
body .navigation nav {
    font-size: 18px;
}
body .navigation nav a#logo {
    background-color: black;
    color: #DFCFBE;
}
body .navigation nav a#logo span.greenColor {
    color: #AAC551;
}
body .navigation nav a#logo span.pinkColor {
    color: #CE2DA7;
}
body .navigation nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;
}
body .cleanerTableAdmin {
    width: 100%;
}
body .cleanerTableAdmin tr {
    border: 1px outset black;
}
body .cleanerTableAdmin td, body .cleanerTableAdmin th {
    padding: 5px;
}
body .cleanerTableAdmin span {
    cursor: pointer;
}
body .advertisementForm {
    border: 1px outset black;
}
body .advertisementForm label {
    width: 100%;
    text-align: center;
    font-size: 24px;
}
body .advertisementForm form {
    padding: 5px;
    width: 100%;
}
body .advertisementForm form input, body .advertisementForm form select, body .advertisementForm form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
body .advertisementForm form button {
    background-color: #DFCFBE;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .editForm input, body .editForm select, body .editForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
body .editForm button {
    background-color: #DFCFBE;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .aboutus {
    margin-top: 10px;
}
body .aboutus .heading {
    font-size: 24px;
    text-align: center;
}
body .getCleanersAndPrices form input, body .getCleanersAndPrices form select, body .getCleanersAndPrices form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
body .getCleanersAndPrices form button {
    background-color: #DFCFBE;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .footer {
    height: 200px;
    background-color: #DFCFBE;
    margin-top: 10px;
}
body .slider #sliderImage {
    background-image: url("../images/banner-inner01.jpg");
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
body .search label {
    width: 100%;
    font-size: 24px;
}
body .search #searchForm {
    border: 1px outset black;
    padding: 5px;
    width: 100%;
}
body .search #searchForm input, body .search #searchForm select, body .search #searchForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
body .search #searchForm button {
    background-color: #DFCFBE;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .cleanerTableUser {
    width: 100%;
}
body .cleanerTableUser th {
    background-color: black;
    color: white;
}
body .cleanerTableUser td, body .cleanerTableUser th {
    border: 1px outset black;
    padding: 5px;
}
body .cleanerTableUser span {
    cursor: pointer;
}