body .navigation {
    margin-bottom: 10px;
    background-color: #DFCFBE;
}
body .navigation nav {
    font-size: 18px;
    padding: 10px;
}
body .navigation nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: black;
}
body table {
    width: 100%;
}
body table td, body table th {
    border: 1px outset black;
    padding: 5px;
}
body .advertiseForm {
    border: 1px outset black;
}
body .advertiseForm label {
    width: 100%;
    text-align: center;
    font-size: 24px;
}
body .advertiseForm form {
    padding: 10px;
    width: 100%;
}
body .advertiseForm form input, body .advertiseForm form select, body .advertiseForm form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
body .advertiseForm form button {
    background-color: #DFCFBE;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .footer {
    height: 200px;
    background-color: #DFCFBE;
    margin-top: 10px;
}