body .displayNone {
    display: none;
}
body .headings {
    color: #5e5e5e;
    width: 100%;
    font-size: 24px;
}
body .navigation {
    margin-bottom: 10px;
    border-bottom: 5px solid #bf9574;
}
body .navigation nav {
    font-size: 18px;
}
body .navigation nav a#logo {
    color: #bf9574;
    font-size: 24px;
    padding: 0px;
}
body .navigation nav a#logo span.greenColor {
    color: #bf9574;
}
body .navigation nav a#logo span.pinkColor {
    color: #ff77a0;
}
body .navigation nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #5e5e5e;
    text-decoration: underline;
}
body .cleanerTableAdmin {
    width: 100%;
    border: 1px solid black;
}
body .cleanerTableAdmin tr:nth-child(odd) {
    background: white;
}
body .cleanerTableAdmin tr:nth-child(even) {
    background: #CCC;
}
body .cleanerTableAdmin td, body .cleanerTableAdmin th {
    padding: 5px;
    vertical-align: top;
}
body .cleanerTableAdmin span {
    cursor: pointer;
}
body .advertisementForm, body .loginForm {
    border: 1px solid black;
}
body .advertisementForm label, body .loginForm label {
    width: 100%;
    text-align: center;
    font-size: 24px;
}
body .advertisementForm form, body .loginForm form {
    padding: 5px;
    width: 100%;
}
body .advertisementForm span, body .loginForm span {
    color: #5e5e5e;
}
body .advertisementForm input, body .advertisementForm select, body .advertisementForm button, body .loginForm input, body .loginForm select, body .loginForm button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #5e5e5e;
}
body .advertisementForm select, body .advertisementForm button, body .loginForm select, body .loginForm button {
    padding: 10px;
}
body .advertisementForm input, body .loginForm input {
    padding: 8px;
}
body .advertisementForm button, body .loginForm button {
    background-color: #bf9574;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .editForm span {
    color: #5e5e5e;
}
body .editForm input, body .editForm select, body .editForm button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #5e5e5e;
}
body .editForm select, body .editForm button {
    padding: 10px;
}
body .editForm input {
    padding: 8px;
}
body .editForm button {
    background-color: #bf9574;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .aboutus {
    margin-top: 10px;
    color: white;
    background-color: #bf9574;
    padding: 20px;
}
body .aboutus .headings {
    text-align: center;
    color: white;
}
body .aboutus .aboutusText {
    font-size: 16px;
    text-align: center;
}
body .adminAboutAndSliderText {
    margin-top: 10px;
}
body .adminAboutAndSliderText form {
    padding: 10px;
    border: 1px solid black;
}
body .adminAboutAndSliderText form span {
    color: #5e5e5e;
}
body .adminAboutAndSliderText form input, body .adminAboutAndSliderText form select, body .adminAboutAndSliderText form button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #5e5e5e;
}
body .adminAboutAndSliderText form select, body .adminAboutAndSliderText form button {
    padding: 10px;
}
body .adminAboutAndSliderText form input {
    padding: 8px;
}
body .adminAboutAndSliderText form button {
    background-color: #bf9574;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .adminAboutAndSliderText form textarea {
    width: 100%;
    height: 200px;
}
body .getCleanersAndPrices form span {
    color: #5e5e5e;
}
body .getCleanersAndPrices form input, body .getCleanersAndPrices form select, body .getCleanersAndPrices form button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #5e5e5e;
}
body .getCleanersAndPrices form select, body .getCleanersAndPrices form button {
    padding: 10px;
}
body .getCleanersAndPrices form input {
    padding: 8px;
}
body .getCleanersAndPrices form button {
    background-color: #bf9574;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .footer {
    margin-top: 10px;
    padding: 20px;
    color: #5e5e5e;
    font-size: 16px;
    text-align: center;
}
body .slider #sliderImage {
    background-image: url("../images/banner-inner01.jpg");
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: left;
    text-shadow: 2px 2px 5px black;
    color: white;
    padding: 20px;
    font-family: "Helvetica";
    border: 1px solid black;
}
body .search #searchForm {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}
body .search #searchForm span {
    color: #5e5e5e;
}
body .search #searchForm input, body .search #searchForm select, body .search #searchForm button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #5e5e5e;
}
body .search #searchForm select, body .search #searchForm button {
    padding: 10px;
}
body .search #searchForm input {
    padding: 8px;
}
body .search #searchForm button {
    background-color: #bf9574;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .modal span {
    color: #5e5e5e;
}
body .modal input, body .modal select, body .modal button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0px;
    border: 1px solid #5e5e5e;
}
body .modal select, body .modal button {
    padding: 10px;
}
body .modal input {
    padding: 8px;
}
body .modal button {
    background-color: #bf9574;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
}
body .cleanerTableUser {
    width: 100%;
    border: 1px solid black;
}
body .cleanerTableUser tr:nth-child(odd) {
    background: white;
}
body .cleanerTableUser tr:nth-child(even) {
    background: #CCC;
}
body .cleanerTableUser td, body .cleanerTableUser th {
    padding: 5px;
    vertical-align: top;
}
body .cleanerTableUser th {
    background-image: none;
    background-color: #bf9574;
    color: white;
}
body .cleanerTableUser span {
    cursor: pointer;
}
body .cleanerTableUser span.totalPrice {
    font-size: 25px;
    font-weight: bold;
}
body .cleanerTableUser .sendEmailButton {
    border: 0px;
    background-color: #bf9574;
}